* {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
}
.header {
    background-color: aqua;
    padding: 20px;
}
.sidebar {
    background-color: #363740;
    grid-column: 1/2;
    grid-row:  1/3;
}
.main-container {
    background-color: aquamarine;
}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    width: 100%;
    height: 100%;
}
.dashboard-first-list li a svg, .dashboard-second-list li a svg {
    width: 7%;
    fill: white;
}
.header-notification-section svg {
    width: 5%;
}
.search-section svg {
    width: 3%;
}
.header-notification-section img {
    width: 10%;
    border-radius: 50px;
}
.second-image-section img {
    width: 5%;
    border-radius: 50px;
}
.header-first-section {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.search-section {
    display: flex;
    width: 80%;
    align-items: center;
    gap: 10px;

}
.search-section input {
    width: 50%;
    padding: 5px;
    height: 10px;
    border-radius: 50px;
    border: none;
}
.header-notification-section {
    width: 30%;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: end;
}