* {
    padding: 0;
    margin: 0;
}
body {
    width: 100vw;
    height: 100vh;
}
.header {
    background-color: aqua;
}
.sidebar {
    background-color: brown;
    grid-column: 1/2;
    grid-row:  1/3;
}
.main-container {
    background-color: aquamarine;
}
.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    width: 100%;
    height: 100%;
}